

#hintbox{
position:absolute;
top: 0;
background-color: lightyellow;
width: 150px; 
padding: 2px;
border: 1px solid grey;
font:normal 11px Verdana;
line-height:18px;
z-index:100;
border-right: 1px solid grey;
border-bottom: 1px solid grey;
visibility: hidden;
}

.hintanchor{ 
font-weight: normal;
text-decoration:none;
color: navy;
margin: 3px 8px;
}


